In [35]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [29]:
# Loading the excel file with all the shhets ofdata
import pandas as pd
path = ('c:\\Users\\manas\\OneDrive\\Desktop\\GITHUB\\KPMG-Internship\\KPMG-Internship\\Data\\KPMG_VI_New_raw_data_update_final.xlsx')
xl = pd.ExcelFile(path)
print(xl.sheet_names)

['Title Sheet', 'Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAddress']

In [14]:
Transactions = pd.read_excel(xl, 'Transactions')
#Transactions

In [28]:
Transactions.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

In [41]:
# checking missing values for each column int the table
empty_nulls=[' ']
Transactions = Transactions.replace(empty_nulls,np.NAN)
Transactions.isnull().sum()
## brand,Product_line,product_class,product_size,standard_cost,product_first_sold_date has almost 1% of the data missing which is negligble and all the
# columns have missing values for same records
## online_order has 1.79% missing values, as it is categorical varaible we can make it as other new level "unknown"

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [32]:
# checking if there are any duplicate transcations in the data
Transactions.shape,len(Transactions['transaction_id'].unique())
#There are no duplicate transactions

((20000, 13), 20000)

In [45]:
Transactions.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                      float64
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date           float64
dtype: object

In [47]:
## checking date format

date_range = str(Transactions['transaction_date'].dt.date.min()),str(Transactions['transaction_date'].dt.date.max())
date_range
#('2017-01-01', '2017-12-30')

('2017-01-01', '2017-12-30')

In [15]:
NewCustomerList = pd.read_excel(xl,'NewCustomerList')

In [26]:
NewCustomerList.columns

Index(['first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'address', 'postcode', 'state', 'country',
       'property_valuation', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Rank', 'Value'],
      dtype='object')

### NewCustomerList
##### There is no customerid to uniquely identify each customer 
##### There are five columns in this table without name of the column,However these columns are present in the CustomerDemogrphic and CustomerAddress table so these may not be required for present  scope.
#####

In [17]:
CustomerDemographic = pd.read_excel(xl,'CustomerDemographic')

In [21]:
CustomerDemographic.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure'],
      dtype='object')

In [18]:
CustomerAddress =pd.read_excel(xl,'CustomerAddress')

In [22]:
CustomerAddress.columns

Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object')

In [3]:
import os
os.getcwd()

'c:\\Users\\manas\\OneDrive\\Desktop\\GITHUB\\KPMG-Internship\\KPMG-Internship\\Data_Quality_Analysis'